:root{
    --roxo: #7030A0; 
    --branco: #fff;
    --preto: #000;
}
*{
    margin: 0;
    padding: 0;
}

div #A{
    float: left;
    width: 100%;
    height: 50px;
    display: block;
}
div #B{
    margin-left: 60px;
    color: var(--branco);
}
div #C{
    margin-left: 60px;
    display: block;
}
div #D{
    margin-left: 60px;
    width: 25px;
    height: 25px;
    display: block;
    
}
div #Caixa1inútil {
    color: #151515;
    margin-left: 60px;
    width: 10px;
    height: 15px;
    display: block;
}
div #Caixa2inútil {
    color: #151515;
    width: 10px;
    height: 15px;
    margin-left: 60px;
}
div #Caixa3inútil {
    color: #151515;
    width: 10px;
    height: 15px;
    margin-left: 60px;
}
div #Caixa4inútil {
    color: #151515;
    width: 10px;
    height: 15px;
    margin-left: 60px;
}
div #Caixa5inútil {
    color: #151515;
    width: 10px;
    height: 15px;
    margin-left: 60px;
}
div #Caixa6inútil {
    color: #151515;
    width: 10px;
    height: 15px;
    margin-left: 60px;
}
div #Caixa7inútil {
    color: #151515;
    width: 10px;
    height: 15px;
    margin-left: 60px;
}
div #Caixa8inútil {
    color: #151515;
    width: 10px;
    height: 15px;
    margin-left: 60px;
}
div #Caixa9inútil {
    color: #151515;
    width: 10px;
    height: 15px;
    margin-left: 60px;
}